body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



.App {
  background: url('./img/cloudBackGround.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  height: 14rem;
  margin: 21px 8px;
  max-width: 170px;
  min-width: 120px;
  background-color: #fff
}

.day-name {
  margin: 0px;
  padding: 0px;
}

.temperature {
 height: 2rem;
}

.weather-icon {
  height: 5rem;
}

.footer {
  display: flex;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather {
  display: flex;
  justify-content: center;

}

.current-weather-component .weather-item {
  height: 250px;
  margin: 40px 70px;
  padding: 20px 40px;

}

.current-weather-component .weather-item .day-name {
  font-size: 1.5rem;
}

.current-weather-component .weather-item .temperature {
  font-size: 1.3rem;
}

.current-weather-component .weather-item h3 {
  padding: 10px 0px;
  margin: 0px;
}

.current-weather-component .weather-item .weather-icon {
  padding-top: 0.3rem;
}

.current-weather-component .weather-item .weather-description {
  font-size: 1.3rem;
  padding-top: 0.7rem;
}

.current-weather-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: #fff;
  height: 260px;
  margin-top: 3.4rem;
  margin-bottom: 2rem;
}

.current-weather-data data {
  padding: 2rem;
  margin: 2rem;
}

.current-weather-data span {
  font-weight: 800;
}

p {
  padding: 10px;
  margin: 5px;
  width: 100%;
}